/* 
Aufgabe: Aufgabe 0
Name: Catherina Arndt
Matrikel: 259418
Datum: 07.10.2018
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	line-height: 1.2em;
	color: black;
	text-align: center;
}

body {
	color: #60f7e0;
}